<!DOCTYPE html>
<html>
<head>
    <title>chat</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/stylesheets/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/static/stylesheets/jqpagination.css"/>
    <link rel="stylesheet" href="/static/stylesheets/style.css"/>
</head>
<body>
    <input type="hidden" id="userId" value="<%=userId%>"/>
    <input type="hidden" id="userName" value="<%=userName%>"/>
    <input type="hidden" id="userPic" value="<%=userPic%>"/>
    <input type="hidden" id="chatType" value="<%=chatType%>"/>
    <input type="hidden" id="toUserId" value="<%=toUserId%>"/>
    <input type="hidden" id="toUserName" value="<%=toUserName%>"/>
    <input type="hidden" id="room" value="<%=room%>"/>

<div class="webim-container" style="margin-top: 10px;">
    <div class="row">
        <!--左边视频展示区 -->
        <div class="span4">
            <div  id="webim-videos" class="webim-video-display">

            </div>
        </div>
        <!--中间区 -->
        <div class="span7 webim-middle">
            <div class="webim-title-bar"><i class="icon-comment"></i> 消息窗口</div>
            <div class="webim-message-box">
                <div class="webim-message-box-innner">
                </div>
            </div>
            <div class="webim-control-bar">
                <button type="button" class="btn  btn-small btn-primary" id="webim_message_video_btn">进入视频聊天</button>
                <button type="button" class="btn  btn-small btn-primary" id="webim_message_img_btn">添加 图片</button>
                <button type="button" class="btn  btn-small btn-primary" id="webim_message_record_btn">聊天记录</button>
                <form action="" method="post" enctype="multipart/form-data" style="display:none;">
                       <input type="file" name="webim_file" id="webim_file" accept="image/gif, image/jpeg,image/png" multiple="true"/>
                </form>
            </div>
            <div class="webim-message-send-box">
                <div class="webim-message-send-div" contenteditable="true"></div>
                <div class="webim-message-send-bar">
                   <div class="webim-message-send-btn-group btn-group dropup">
                       <button class="btn btn-small btn-success webim-message-send-btn" id="webim_message_send_btn">发送</button>
                       <button class="btn btn-small btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                       <ul class="dropdown-menu">
                           <li> 按Alt+Enter键发送消息 </li>
                       </ul>
                   </div>
                </div>
            </div>
        </div>
        <!--右侧区-->
        <div class="span3 webim-right">
            <div class="webim-invite">
                <div  style="overflow: hidden; height: 80px;"></div>
                <button class="btn btn-success" >加入</button>
            </div>
            <div class="webim-online-users-box">
                <div class="webim-title-bar"><i class="icon-th-list"></i> 在线人员</div>
                <ul class="webim-online-users">
                </ul>
            </div>
            <img src="/static/img/loading.gif" class="webim-record-loading"/>
            <div class="webim-record-box">
                <div class="webim-title-bar"><i class="icon-comment"></i> 聊天记录</div>
                <ul class="webim-record-ul">
                </ul>
                <div class="webim-pagination-wrapper">
                   <div style="display: inline-block"> <span style="display: inline-block;position: relative;top: -6px;">日期: </span><input type="text" id="datepicker" readonly="readonly"></div>
                </div>
            </div>

        </div>

    </div>
</div>
</body>
<script src="/static/javascripts/jquery-1.7.min.js"></script>
<script src="/static/javascripts/jquery-ui.min.js"></script>
<script src="/static/javascripts/jquery.jqpagination.min.js"></script>
<script src="/static/javascripts/simplewebrtc.bundle.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/javascripts/bootstrap.min.js"></script>
<script src="/static/javascripts/bootbox.min.js"></script>
<script src="/static/javascripts/chat.client.js"></script>
<script>

    $(function () {

    })


</script>
</html>