<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" >
    <title>在线视频聊天</title>
    <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/stylesheets/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/static/stylesheets/jqpagination.css"/>
    <link rel="stylesheet" href="/static/stylesheets/style.css"/>
</head>
<body>
    <input type="hidden" id="userId" value="<%=userId%>"/>
    <input type="hidden" id="userName" value="<%=userName%>"/>
    <input type="hidden" id="userPic" value="<%=userPic%>"/>
    <input type="hidden" id="chatType" value="<%=chatType%>"/>
    <input type="hidden" id="toUserId" value="<%=toUserId%>"/>
    <input type="hidden" id="toUserName" value="<%=toUserName%>"/>
    <input type="hidden" id="room" value="<%=room%>"/>
    <input type="hidden" id="corpCode" value="<%=corpCode%>"/>
    <div class="webim-container">
       <div class="row">
        <!--左边视频展示区 -->
        <div class="span5">
            <div  id="webim-videos" class="webim-video-display">

            </div>
        </div>
        <!--中间区 -->
        <div class="span7 webim-middle">
            <div class="webim-title-bar"><i class="icon-comment"></i> 消息窗口</div>
            <div class="webim-message-box">
                <div class="webim-message-box-innner">
                </div>
            </div>
            <div class="webim-control-bar">
                <button type="button" class="btn  btn-small btn-primary" id="webim_message_video_btn">视频聊天</button>
                <button type="button" class="btn  btn-small btn-primary " id="webim_message_img_btn">添加图片</button>
                <button type="button" class="btn  btn-small btn-primary" id="webim_message_record_btn">聊天记录</button>
            </div>
            <div class="webim-message-send-box">
                <div class="webim-message-send-div" contenteditable="true" placeholder="请输入消息..."></div>
                <div class="webim-message-send-bar">
                   <div class="webim-message-send-btn-group btn-group dropup">
                       <button class="btn btn-small btn-success webim-message-send-btn" id="webim_message_send_btn">发&nbsp;&nbsp;送</button>
                       <button class="btn btn-small btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                       <ul class="dropdown-menu">
                           <li>&nbsp;&nbsp;按Ctrl+Enter键发送消息&nbsp;&nbsp;</li>
                       </ul>
                   </div>
                </div>
            </div>
        </div>
        <!--右侧区-->
        <div class="span3 webim-right">
            <div class="webim-invite">
                <div  style="overflow: hidden; height: 80px;"></div>
                <button class="btn btn-success" >加入</button>
            </div>
            <div class="webim-online-users-box">
                <div class="webim-title-bar"><i class="icon-th-list"></i> 在线人员</div>
                <ul class="webim-online-users">
                </ul>
            </div>
            <div class="webim-record-box">
                <img src="/static/img/loading.gif" class="webim-record-loading"/>
                <div class="webim-title-bar"><i class="icon-comment"></i> 聊天记录</div>
                <ul class="webim-record-ul">
                </ul>
                <div class="webim-pagination-wrapper">
                   <div style="display: inline-block"> <span style="display: inline-block;position: relative;top: -6px;">日期: </span><input type="text" id="datepicker" readonly="readonly"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/javascripts/jquery-1.7.min.js"></script>
<script src="/static/javascripts/jquery.uploadify.min.js"></script>
<script src="/static/javascripts/jquery-ui.min.js"></script>
<script src="/static/javascripts/jquery.ui.datepicker-zh-CN.js"></script>
<script src="/static/javascripts/jquery.jqpagination.min.js"></script>
<script src="/static/javascripts/simplewebrtc.bundle.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/javascripts/bootstrap.min.js"></script>
<script src="/static/javascripts/bootbox.min.js"></script>
<script src="/static/javascripts/chat.client.js"></script>
</body>
</html>